extends ../layouts/application.pug

block header
  = t('views.statuses.header')

block content
  .mt-4
    if currentUser
      .mb-3.text-start
        a.btn.btn-primary(href=route('newStatus'))= t('views.statuses.new.created_button')
    table.table.table-striped
      thead
        tr
          th= t('views.statuses.id')
          th= t('views.statuses.name')
          th= t('views.statuses.created_at')
          th= ' '
      tbody
        each status in statuses
          tr
            td= status.id
            td= status.name
            td= formatDate(status.createdAt)
            td
              if currentUser
                a.btn.btn-primary.btn-sm.me-2(href=`/statuses/${status.id}/edit`) Изменить
                +buttonTo(`/statuses/${status.id}`, 'delete')(class="btn btn-danger btn-sm" value="Удалить")